@import "compass/reset";
@import "compass/css3";
* { box-sizing: border-box }
$orange : #ecc557 ;
$violetFonce : #101d27;
$bleuFonce : #556773;
$bleuClair: #70818d;
$quiSuisJe: #283946;
$cv:#556773;
$realisations:#101d27;
$contact: #283946;
@font-face{
    font-family: "AvenirNext";
    src: url(../fonts/avenirnext.ttc);
}

@font-face{
    font-family: "Silom";
    src: url(../fonts/silom.ttf);
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: $violetFonce;
    background-image: url(../imgs/lowpoly.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: auto;
    
    header{
        background-color: black;
        width:100%;
        height: 90px;
        z-index: 20;
        position: fixed;
        #nav_haute{
            height: 25px;
            width: 100%;
            background: black;
        }
        #barre_orange{
            height: 4px;
            background: $orange;
            -webkit-animation-name: orange; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            animation-name: orange;
            animation-duration: 1s;
        }
        nav{
            width: 100%;
            height: 70px;
            background: black;
            oppacity: 0.9;
            #nav_gauche{
                width: 40%;
                float: left;
                ul{
                    margin-top: 20px;
                    li {
                        a{
                            color: white;
                            opacity: 0;
                            display: block;
                            text-decoration: none;
                            font-family: "Avenir Next";
                            text-align: center;
                            font-size: 25px;
                            /* Chrome, Safari, Opera */
                            -webkit-animation-name: item_menu; 
                            -webkit-animation-duration: 1s; 
                            -webkit-animation-delay: 2s; 
                            -webkit-animation-fill-mode: forwards; 
                            animation-name: item_menu;
                            animation-duration: 1s;
                            animation-delay: 3s;
                            animation-fill-mode: forwards;
                            &:hover{
                                color: $orange;
                            }
                        }
                    }
                    li:nth-child(1){
                        width: 50%;
                        float: left;
                    }
                    li:nth-child(2){
                        width: 50%;
                        float:right;
                    }
                }
            }
            #logo{
                width: 20%;
                height: 90px;
                visibility: hidden;
                position: absolute;
                margin-left: 40%;
                background-image: url(../imgs/logo.png);
                background-size: 71%;
                background-repeat: no-repeat;
                background-position: top center;
                /* Chrome, Safari, Opera */
                -webkit-animation-name: logo; 
                -webkit-animation-duration: 1s; 
                -webkit-animation-delay: 1s; 
                -webkit-animation-fill-mode: forwards; 
                animation-name: logo;
                animation-duration: 1s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
            #nav_droite{
                width: 40%;
                float: right;
                ul{
                   margin-top: 20px; 
                    li {
                        a{
                            color: white;
                            opacity: 0;
                            display: block;
                            text-decoration: none;
                            font-family: "Avenir Next";
                            text-align: center;
                            font-size: 25px;
                            /* Chrome, Safari, Opera */
                            -webkit-animation-name: item_menu; 
                            -webkit-animation-duration: 1s; 
                            -webkit-animation-delay: 2s; 
                            -webkit-animation-fill-mode: forwards; 
                            /*Autres*/
                            animation-name: item_menu;
                            animation-duration: 1s;
                            animation-delay: 3s;
                            animation-fill-mode: forwards;
                            &:hover{
                                color: $orange;
                            }
                        }
                    }
                    li:nth-child(1){
                        width: 50%;
                        float: left;
                    }
                    li:nth-child(2){
                        width: 50%;
                        float:right;
                    }
                }
            }
        }
        
        #transparente{
            width: 100%;
            height:50px;
            opacity: 0;
        }
    }
    
    .fil_orange{
        width: 0%;
        height: 2px;
        position: relative;
        top :200px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_orange; 
        -webkit-animation-duration: 10s; 
        -webkit-animation-delay: 3s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    .fil_bleu_clair{
        width: 0%;
        height: 4px;
        position: relative;
        top :250px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_bleu_clair; 
        -webkit-animation-duration: 5s; 
        -webkit-animation-delay: 6s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    .fil_orange_2{
        width: 0%;
        height: 3px;
        position: relative;
        top :320px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_orange; 
        -webkit-animation-duration: 30s; 
        -webkit-animation-delay: 8s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    .fil_bleu_fonce{
        width: 0%;
        height: 6px;
        position: relative;
        top :350px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_bleu_fonce; 
        -webkit-animation-duration: 5s; 
        -webkit-animation-delay: 9s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    .fil_bleu_clair_2{
        width: 0%;
        height: 1px;
        position: relative;
        top :400px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_bleu_clair; 
        -webkit-animation-duration: 48s; 
        -webkit-animation-delay: 7s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    .fil_orange_3{
        width: 0%;
        height: 1px;
        position: relative;
        top :420px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_orange; 
        -webkit-animation-duration: 25s; 
        -webkit-animation-delay: 6.7s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    .fil_bleu_fonce_2{
        width: 0%;
        height: 1px;
        position: relative;
        top :470px;
        
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fil_bleu_fonce; 
        -webkit-animation-duration: 33s; 
        -webkit-animation-delay: 4.8s; 
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:linear;
        /* Autres*/
        animation-name: orange; 
        animation-duration: 3s; 
        animation-delay: 3s; 
        animation: leaves O.3s;
        animation-iteration-count:infinite;
    }
    
    #illustration{
        
        width: 100%;
        max-width:600px;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 40px;
        display: block;
        z-index: -1;
        opacity: 0;
        /* Chrome, Safari, Opera */
        -webkit-animation-name: article; 
        -webkit-animation-duration: 1s; 
        -webkit-animation-delay: 3s; 
        -webkit-animation-fill-mode: forwards; 
        /* Autres*/
        animation-name: article;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        background: fixed;
            
    }
   
    #nom{
        font-size: 50px;
        font-family: "Avenir Next";
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #intitule_pricipale{
          font-size: 26px;
          font-family: "Avenir Next";
          color: #cec5c5;
          text-align: center;
        margin-bottom: 20px;
    }
        
    #intitule_secondaire{
                    font-family: "Avenir Next";
                    font-size: 16px;
                    color: #969696;
                    text-align: center;
    }
        
    .ligne_qui-suis-je{
        margin-top: 10px;
        height: 4px;
        width: 100%;
        background: #101d27;
    }
    
    .triangle_qui_suis_je{
        width: 20%;
        height: 100px;
        position: absolute;
        margin-left: 40%;
        background-image: url(../imgs/qui-suis-je.png);
        background-size: 71%;
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    #qui-suis-je{
        width: 100%;
        max-width: 100%;
        margin: auto;
        bottom: 30;
        background-color: $quiSuisJe;
        overflow: auto;
        
        article:nth-child(1){
            width: 960px;
            margin: auto;
            font-family: "Avenir Next";
            
            h1{
                color: white;
                font-size: 35px;
                text-align: center;
                margin-top: 150px;
                
            }
            
            hr{
               height: 2px;
                background-color: white;
                border: 0;
                width: 200px;
            }
            
            p{
                color: white;
                text-align: justify;
                margin: 20px 0px 20px 0px;
                line-height: 30px;
                font-size: 16px;
            }
            
            .annonce{
                font-size: 16px;
                text-align: center;
                line-height: 20px;
                color: black;
                background: $orange;
                padding: 10px 10px 10px 10px;
                margin-top:20px; 
                margin: auto;
                width: 500px;
                margin-bottom: 150px;
            }
            
            #rs{
                width: 100%;
                text-align: center;
                margin: 20px 0px 20px 0px;;

                a{
                    overflow: auto;
                    img{
                        width: 40px;
                    }
                    img:nth-child(1){
                        margin: 0px 10px 0px 10px;
                    }
                    img:last-child{
                        width: 40px;
                    }
                }
                       
            }
        }
        
    }
    
    .ligne_cv{
        height: 4px;
        width: 100%;
        background: $quiSuisJe;
    }
    
    .triangle_cv{
        width: 20%;
        height: 100px;
        position: absolute;
        margin-left: 40%;
        background-image: url(../imgs/cv.png);
        background-size: 71%;
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    #cv{
        width: 100%;
        max-width: 100%;
        margin: auto;
        bottom: 30;
        background-color: $bleuFonce;
        overflow: auto;
        
        article:nth-child(1){
            width: 960px;
            margin: auto;
            font-family: "Avenir Next";
            
            h1{
                color: white;
                font-size: 35px;
                text-align: center;
                margin-top: 150px;
                
            }
            
            hr{
               height: 2px;
                background-color: white;
                border: 0;
                width: 90px;
            }
            
            p{
                color: white;
                text-align: center;
                margin: 20px 0px 20px 0px;
                line-height: 30px;
                font-size: 16px;
            }
            
            #formation{
                h2{
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    margin-top: 30px;
                }

                .sous_hr{
                    width: 600px;;
                }

                #cv_time_line_2015{

                    img{
                        width: 100px;
                        float: left;
                        padding: 20px;
                    }

                    p{
                        float: right;
                        width: 700px;
                        padding: 20px;
                        background-color: #70818d;
                        text-align: left;

                    }

                    &:after{
                            content: "";
                            display: block;
                            clear: both;
                        }
                }

                #cv_time_line_2012{
                    img{
                        width: 100px;
                        float: left;
                        padding: 20px;
                    }

                    p{
                        float: right;
                        width: 700px;
                        padding: 20px;
                        background-color: #70818d;
                        margin-top: 30px;
                        text-align: left;

                    }

                    &:after{
                            content: "";
                            display: block;
                            clear: both;
                        }
                }
            }
            
            #competences{
                
                h2{
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    margin-top: 30px;
                }

                .sous_hr{
                    width: 600px;;
                }
                
                #gros_logos{
                    text-align: center;
                    margin-top: 20px;
                    img{
                        width: 100px;
                        margin : 10px;
                        
                    }
                }
                
                #petits_logos{
                    text-align: center;
                    img{
                        width: 100px;
                        margin : 10px;
                        
                    }
                    
                    #sass{
                        width: 60px;
                    }
                }
                
                #petits_logos_2{
                    text-align: center;
                    img{
                        width: 50px;
                        margin : 10px;
                        
                    }
                    
                    #git{
                        width: 110px;
                    }
                }
                
            }
            
            #xp{
                margin-top: 70px;
                h2{
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    margin-top: 30px;
                }

                .sous_hr{
                    width: 600px;;
                }
                p{
                    text-align: left;
                    width: 600px;
                    margin: auto;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
            }
            
        }
        
    }
    
    .ligne_realisations{
        height: 4px;
        width: 100%;
        background: $cv;
    }
    
    .triangle_realisations{
        width: 20%;
        height: 100px;
        position: absolute;
        margin-left: 40%;
        background-image: url(../imgs/realisations.png);
        background-size: 71%;
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    #realisations{
        width: 100%;
        max-width: 100%;
        margin: auto;
        bottom: 30;
        background-color: $realisations;
        overflow: auto;
        
        article:nth-child(1){
            width: 960px;
            margin: auto;
            font-family: "Avenir Next";
            
            h1{
                color: white;
                font-size: 35px;
                text-align: center;
                margin-top: 150px;
                
            }
            
            hr{
               height: 2px;
                background-color: white;
                border: 0;
                width: 200px;
            }
            
            p{
                color: white;
                text-align: center;
                margin: 20px 0px 20px 0px;
                line-height: 30px;
                font-size: 16px;
            }   
            
            #trier_par{
                width: 100%;
                background: red;
                
                p{
                    width: 120px;
                    background: blue;
                    margin: 0px;
                    float: left;
                    text-align: left;
                }
                
                button{
                    border: none;
                    background: $bleuClair;
                    margin-right: 30px;
                    padding: 10px 10px 10px 10px;
                    cursor: pointer;
                    color: white;
                    
                    &:active{
                        background-color:$orange;
                    }
                }
                
            }
        }
    }
    
    
    .ligne_contact{
        height: 4px;
        width: 100%;
        background: $realisations;
    }
    
    .triangle_contact{
        width: 20%;
        height: 100px;
        position: absolute;
        margin-left: 40%;
        background-image: url(../imgs/contact.png);
        background-size: 71%;
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    #contact{
        width: 100%;
        max-width: 100%;
        margin: auto;
        bottom: 30;
        background-color: $contact;
        overflow: auto;
        
        article:nth-child(1){
            width: 960px;
            margin: auto;
            font-family: "Avenir Next";
            
            h1{
                color: white;
                font-size: 35px;
                text-align: center;
                margin-top: 150px;
                
            }
            
            hr{
               height: 2px;
                background-color: white;
                border: 0;
                width: 200px;
            }
            
            p{
                color: white;
                text-align: center;
                margin: 20px 0px 60px 0px;
                line-height: 30px;
                font-size: 16px;
            }   
        }
    }
    
    form{
        color: white;
        
        #ligne_1{
            width: 100%;
            margin-bottom: 20px;
            
            label{
                display: block;
                float: left;
            }
            
            label[for=prenom]{
                width: 300px;
                margin-right: 20px;
                
                input{
                    width: 100%;
                    margin-top: 5px;
                }
            }

            label[for=nom]{
                width: 300px;
                margin-right: 20px;
                input{
                    width: 100%;
                    margin-top: 5px;
                }
            }

            label[for=email]{
                width: 320px;
                input{
                    width: 100%;
                    margin-top: 5px;
                }
            }
            
            &:after{
                content: "";
                display: block;
                clear: both;
            }
        }
        
        input{
            padding: 5px;
            margin-top: 5px;
        }
        
        label[for=objet]{
            input{
                width: 100%;
            }
        }
        textarea{
            margin-top: 20px;
            padding: 5px;
            max-width: 100%;
            min-width: 100%;
            min-height: 300px;
        }
        
        input[type="submit"]{
            width: 100%;
            border: none;
            margin-top: 20px;
            margin-bottom: 20px;
            color:black;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: $orange;
        }
        
        &::hover{
            cursor: pointer;
        }
        
    }
}




/* CHROME SAFARI OPERA */
@-webkit-keyframes orange {
      0% {
        width: 0%;
        background: $orange;
      }
      100% {
        width: 100%;
        background: $orange;
      }
}

@keyframes orange {
    0% {
        width: 0%;
        background: $orange;
      }
    100% {
        width: 100%;
        background: $orange;
    }
}

/* CHROME SAFARI OPERA */
@-webkit-keyframes logo {
    0% {
        height: 0px;
        visibility: visible;
    }
    100% {
        height: 100px;
        visibility: visible;
    }
}

@keyframes logo {
    0% {
        height: 0%;
        visibility: visible;
    }
    100% {
        height: 100%;
        visibility: visible;
    }
}

@-webkit-keyframes item_menu {
  0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes item_menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes article {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes article {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fil_orange {
    0% {
        width: 0%;
        background: $orange;
        opacity:1;
    }
    
    40%{
        opacity:0.4;
    }
    
    50% {

        width: 100%;
        background: $orange;
        opacity:0.1;
    }
    51% {
        opacity: 0;
        background: $orange
    }
    100% {
        opacity: 0;
        background: $orange
    }
    
}

@keyframes fil_orange {
    0% {
        width: 0%;
        background: $orange
    }
    
    50% {

        width: 100%;
        background: $orange
    }
}

@-webkit-keyframes fil_bleu_clair {
    0% {
        width: 0%;
        background: $bleuClair;
        opacity:1;
    }
    
    40%{
        opacity:0.4;
    }
    
    50% {

        width: 100%;
        background: $bleuClair;
        opacity:0.1;
    }
    51% {
        opacity: 0;
        background: $bleuClair;
    }
    100% {
        opacity: 0;
        background: $bleuClair;
    }
    
}

@-webkit-keyframes fil_bleu_fonce {
    0% {
        width: 0%;
        background: $bleuFonce;
        opacity:1;
    }
    
    40%{
        opacity:0.4;
    }
    
    50% {

        width: 100%;
        background: $bleuFonce;
        opacity:0.1;
    }
    51% {
        opacity: 0;
        background: $bleuFonce;
    }
    100% {
        opacity: 0;
        background: $bleuFonce;
    }
    
}
