<script>
    var c = document.getElementById('contact');
    c.style.position='relative';
    c.style.zIndex="-1";
</script>
<div id='mask_rea'></div>
<div id='fenetre_rea' ng-controller='ViewRechercheController'>
   <p id='fermer'><a href="#realisations"><button onclick="close_fmod_rea()">Fermer</button></a></p>
    <h1>
        {{realisation.nom}}
    </h1>
    <p id="role_rea">Mon rôle : {{realisation.role}}</p>
    <p id="collaborateurs_rea">
      Collaborateurs :
       <span ng-repeat="colaborateur in realisation.colaborateurs ">
           <a href="{{colaborateur.site}}">{{colaborateur.id}}</a>
       </span>
    </p>
    <p id="date_rea">{{realisation.date}}</p>
    <p id='text_rea'>{{realisation.text}}</p>
    <p id='acces_rea'><a href="{{realisation.site}}" target="_blank">Accédez au site</a></p>
    <div id="images_rea">
        <div class="realisation_rea" ng-repeat="image in realisation.images">
        <a target="_blank" href="{{image.lien}}"><img src="{{image.lien}}" alt="{{alt}}"></a>
    </div>
    </div>
</div>